html {
    background-color: black;
    line-height: 1.7; /* vertical padding specifically for text */
    color:rgb(237, 235, 230);
    font-family: sans-serif;
    font-size: 12pt;
}

body {
    display: flex;
    justify-content: center;
}

.project-thumbnail-home {
    width: 90%;
    aspect-ratio: 16/9;
    max-height: 480px;
    max-width: 854px;
    background-color: rgb(66, 66, 66);
    color:rgb(48, 44, 44)
}

a {
    color: rgb(237, 235, 230);
}

a:hover {
    color: rgb(233, 184, 255);
}